option_settings:
  aws:elasticbeanstalk:application:environment:
    POSTGRESS_USERNAME: udagramdbdev;
    POSTGRESS_PASSWORD: etcH0652;
    POSTGRESS_DATABASE: udagramdbdev;
    POSTGRESS_HOST: udagramdbdev.cmuvzzmlb1cj.us-east-2.rds.amazonaws.com;
    AWS_REGION: us-east-2;
    AWS_PROFILE: DEPLOYED;
    AWS_MEDIA_BUCKET: udagram-shabanah-dev;
    JWT_SECRET: hellowrld;